.container__main {
    position: relative;
    height: 98dvh;
    background: linear-gradient(180deg, rgb(60, 182, 238), white 40rem);
}

.clouds {
    position: absolute;
    display: flex;
    height: 20%;
    width: 100%;
    transform: translateX(-200%);
    animation: cloudMovement 140s linear infinite;
}

.clouds img {
    width: 100%;
    height: 100%;
    /* margin-left: 8rem; */
}

.container__main>img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 60%;
}

.container__center {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    position: relative;
    width: min(30rem, 100%);
    aspect-ratio: 1;
    right: 10%;
    display: grid;
}

.card h1 {
    place-self: center;
    text-align: center;
    font-size: var(--fs-xl);
}

.card span {
    text-decoration: underline;
}

.card img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.list {
    position: relative;
    left: 2%;
}

.list li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.list li p {
    font-weight: var(--fw-eb);
    font-size: var(--fs-m);
}

.list li img {
    width: min(3rem, 100%);
    aspect-ratio: 1;
}



@media (max-width:802px) {
    .clouds {
        top: 12%;
    }

    .container__center {
        flex-direction: column;
        align-items: center;
    }

    .card {
        right: 0;
        top: 5%;
    }

    .list {
        top: 20%;
        left: 0;
        justify-content: center;
        align-items: center;
    }

}

@keyframes cloudMovement {
    from {
        tranform: translateX(-200%)
    }

    to {
        transform: translateX(0%)
    }
}