.container__main {
    position: relative;
    min-height: 75dvh;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.container__main h2 {
    text-align: center;
    font-size: clamp(3.5rem, 8.9vw, 8rem);
}

.container__main>img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 60%;
    z-index: -1;
}

.container__cards {
    position: relative;
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    overflow: hidden;
}



.container__info {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url("/images/cardbackground.png");
    background-position: center;
    transition: all .3s ease;
}


.container__info .info {
    padding: 1rem;
    opacity: 0;
    animation: fade-in 0.3s ease 0.5s forwards;

}


.container__footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.container__footer button {
    padding: 1em 3em;
    border: 2px solid red;
}

@media (max-width:602px) {
    .container__main>img {
        visibility: hidden;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}