*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

:root {
    /* fonts */
    --fs-xl: 2.5rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1rem;
    --fw-eb: 700;
    --fw-b: 500;
    --fw-n: 300;
    /* colors */
    --clr-w: white;
    --clr-blue: blue;
    --clr-blk: black;

}